.container-fluid > .row > .col-6,.cavolo {
    height: 100vh;
}
.cavolo > *{
    padding-left: 48px;
}
.bgPeach{
    background-color: rgb(255, 245, 226);
}
.col-6:first-of-type{
    z-index: 1;
}
.bgOrange{
    background-color: rgb(253, 187, 64);
}


/*---- HEADER ----*/
.cavolo > .bgOrange{
    height: 100px;
}

.bgOrange  img{
    height: 200px;
    transform: translate(80px, -20px)
}
/*--- SECTION 1 ---*/
h2{
    color: gray;
}
label > img{
    max-width: 50px;
}
label{
    display: flex;
    align-items: center; 
}
label span,#sconto{
    margin: 20px 20px;
}
label input{
    transform: translateY(25%);
}
div>input{
    width: 500px;
}
#sconto{
    border: 0;
    border-radius: 25px;
    padding: 0 20px;
}
input + span{
    color: red;
}

#calculate-Price{
    border: 0;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}
/*--- FOOTER ---*/
.footer{
    height: 50px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
